#static-search-form {
    width: 90%;
    max-width: 420px;
    position: absolute;
    margin: 64px 0 0;
}

#static-search-bar {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
}

#static-search-query {
    display: block;
    width: 68%;
    text-indent: 0.5rem;
    border: solid 3px black;
    border-radius: 3px;
    font-size: 1rem;
}

#static-search-button {
    height: 55px;
    width: 27%;
    border: solid 3px black;
    border-radius: 3px;
    font-size: 1rem;
    letter-spacing: 0.02rem;
}

#static-search-results {
    max-height: 500px;
    width: 100%;
    position: absolute;
    overflow: auto;
    /* background: #EEE; */
    box-sizing: border-box;
    border: solid 3px black;
    border-radius: 0.2rem;
    padding: 0;
    margin: 0.5rem 0 0;
    list-style: none;
    scrollbar-width: thin;
}

#static-search-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    bottom: 0;
    background: black;
    height: 50px;
    border-top: solid 3px black;
    color: #EEE;
}

#static-search-logo a {
    color: #EEE;
    letter-spacing: 0.006rem;
    font-weight: 600;
}

#no-results-found {
    text-indent: 1rem;
}

.result-item {
    box-sizing: border-box;
    padding: 1.25rem 0;
    border-bottom: solid 3px black;
}

.result-item-title {
    display: block;
    width: 90%;
    margin: 0 auto;
    box-sizing: border-box;
    /* color: black; */
    /* text-decoration: none; */
    font-size: 1rem;
    /* font-weight: 600; */
    line-height: 1.5rem;
}

.result-item-author {
    display: block;
    width: 90%;
    margin: 0.5rem auto 0;
    box-sizing: border-box;
    color: #666;
    /* font-style: italic; */
    font-size: 14px;
    font-weight: 600;
    line-height: 1.5;
}